@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap");

body {
  background-color: #f7f8fa;
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  position: relative;
  box-shadow: 0 0 10px #ddd;
}
a {
  text-decoration: none;
}

.header .contener {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  height: 60px;
}

.main-nav {
  display: flex;
  list-style: none;
}

.contener .main-nav > li > a {
  padding: 0 25px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.main-nav li a:hover {
  color: #601cfc;
}

.contener .logo {
  color: black;
  font-size: 22px;
  font-family: "Dancing Script", cursive;
}

.landing .contener {
  display: flex;
  align-items: center;
  background-image: url(image/web.png);

  min-height: calc(100vh - 60px);
  padding: 0px 15%;
  justify-content: space-between;
}

.landing .contener .image img {
  width: 300px;
  max-width: 100%;
  border-radius: 50%;
}

.landing .contener .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.landing .contener .text p {
  display: inline-block;
  font-size: 12px;
  color: #777;
  padding-bottom: 12px;
  display: inline-block;
  border-bottom: 1px solid #777;
}

.landing .contener .text h2 {
  font-size: 40px;
  margin: 0;
}

.landing .contener .text h3 {
  margin: 0;
  color: #738595;
}

.about-me .contener {
  background-color: #fff;
  display: flex;
  min-height: calc(100vh - 565px);
  padding: 20px 10%;
  /* justify-content: center; */
  justify-content: space-around;
  align-items: center;
}
.about-me .contener .vector-img {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me .contener .vector-img img {
  width: 90%;
}

.about-me .contener .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-me .contener .text h3 {
  font-size: 30px;
  color: #292929;
}
.about-me .contener .text p {
  width: 300px;
  color: #505050;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

.skills .contener {
  background-color: #f7f8fa;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 10%;
  min-height: calc(100vh - 565px);
  flex-wrap: wrap;
}

.skills .contener .text-skills {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.skills .contener .text-skills div img {
  width: 60px;
  margin: 15px;
  box-shadow: 0 0 5px #777;
}
.skills .contener .text-skills .icon {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 50vh;
}

.skills .contener .text-skills h3 {
  font-size: 30px;
  color: #292929;
}

.skills .contener .vector {
  width: 30%;
}
.skills .contener .vector img {
  width: 90%;
}
